[user]
    name = Scott Wallace
    email = scott@wallace.sh
	signingkey = AA742FDC5AFE2A72
[push]
    default = simple
[pack]
    deltaCacheSize = 256m
    packSizeLimit = 256m
    windowMemory = 256m
[core]
    packedGitLimit = 128m
    packedGitWindowSize = 128m
    autocrlf = input
    excludesfile = ~/.gitignore_global
    pager = less -SRFX
    sshCommand = ssh -q
[alias]
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg = !"git lg1"
    lgd = log -p --decorate
    history = log --pretty=oneline --abbrev-commit --all --graph --decorate
    tidy = !git remote prune origin && git fetch -pPt && git branch -vv | awk '/: gone]/ {print $1}' | xargs -r git branch -D
    update = !git pull && git tidy
    st = status
    ci = commit
    co = checkout
    cp = cherry-pick --ff
    br = branch
    up = !git update
    ref = for-each-ref --format='%(committerdate) %09 %(authorname) %09 %(refname)' --sort=committerdate
    rl = reflog --date=iso
    tags = tag --sort=taggerdate
    gc-all = -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc
[color]
    ui = true
[branch]
    autosetuprebase = always
[credential]
	helper = cache --timeout=3600
[commit]
    gpgsign = true
