"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 10
  "exception-reporting":
    userId: "20e0c61d-eca4-03f1-2f3a-a82ae80acbe3"
  "git-plus":
    commits:
      verboseCommits: true
    experimental:
      useSplitDiff: true
    general:
      splitPane: "Right"
  "project-manager":
    includeGitRepositories: true
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
