[Unit]
Description=Clonedrive service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
User=media
Group=media
ExecStart=/srv/app/clonedrive/clonedrive.py

[Install]
WantedBy=multi-user.target
