[GoogleDrive]
type = drive
client_id = {{ client_id }}
client_secret = {{ client_secret }}
# token = (run 'rclone authorize drive')

[GoogleDriveCrypt]
type = crypt
remote = GoogleDriveCache:crypt
filename_encryption = standard
password = {{ password1 }}
password2 = {{ password2 }}

[GoogleDriveCloudplowUpload]
type = crypt
remote = GoogleDrive:crypt
filename_encryption = standard
password = {{ password1 }}
password2 = {{ password2 }}

[GoogleDriveCache]
type = cache
remote = GoogleDrive:/
plex_url = http://localhost:32400
plex_username = {{ plex_username }}
plex_password = {{ plex_password }}
chunk_size = 5M
chunk_total_size = 25G
chunk_no_memory = true
writes = true
plex_token = {{ plex_token }}
