[Unit]
After=rclone.service
Before=local-fs.target
Requires=rclone.service

[Mount]
Options=cow,direct_io,auto_cache,allow_other
Type=fuse.unionfs
What=/mnt/.media.cache=RW:/mnt/GoogleDriveCrypt=RO
Where=/mnt/media
